@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.navbar{
    padding-bottom: 0;
}

.title-nav {
    font-weight: 600;
}

.btn-mutualan{
    border: 1px solid black;
    border-radius: 0px;
}

.container-nav {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.2rem;
    padding-top: 10px;
    margin-left: 11rem;
    padding-right: 11rem;
    
}

.my-nav {
    flex: 1;
}



.contact{
    padding-top: 1rem;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
}

.contact .info-box h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin: 10px 0 8px 68px;
}

.contact .info-box .icf {
    font-size: 24px;
    color: #FE481C;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(77, 77, 77, 0.1);
}

.icf-links :hover{
    color: #FE481C;
}

.contact .info-box p {
    padding: 0;
    color: #333;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
} 

.social-links{
    display: flex;
}

.icf-links{
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    display: flex;
}


.contact .php-email-form {
    padding: 30px;
    background: rgba(0, 0, 0, 0.08);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -2px;
    margin-left: -2px;
}
.form-row .col-md-6{
    width: calc(50% - .5rem);
}

.contact .php-email-form input {
    padding: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    font-weight: 400;
    line-height: 1.5;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.btn-conmit{
    background:  #FE481C;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.php-email-form > .form-group{
    margin: 1rem 0;
}

@media (max-width:1300px){
    body{
        overflow: auto;
    }
    .container-nav {
        padding-left: 5rem;
        margin-left: 0rem;
        padding-right: 5rem;
    }
}

@media (max-width: 800px) {

    :root{
        font-size: 12px;
    }

    body{
        overflow: auto;
    }

    .container-nav{
        margin-top: 1rem;
        margin-left: 0rem;
        padding-right: 0rem;

        padding: 1rem;
    }
    

}

@media screen and (max-width:400px) {

    :root{
        font-size: 11px;
    }


    .container-nav{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    
}