@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar{
    padding-bottom: 0;
    /* position: fixed;
    width: 100%;
    z-index: 1000; */
    background-color: white;
}

.title-nav {
    font-weight: 600;
}

.btn-mutualan{
    border: 1px solid black;
    border-radius: 0px;
}

.container-nav {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.2rem;
    padding-top: 10px;
    padding-left: 11rem;
    padding-right: 11rem;
}

.my-nav {
    flex: 1;
}


.syanayya{
    margin-top: 6rem;
    width: 100vw;
    height: 100vh;
    padding-left: 9rem;
    padding-right: 10rem;
}

.syanayya .container {
    padding: 0;
}

.theme{
    align-items: center;
    display: flex;
    align-items: center;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DED1C1;
}

.review{
    margin-bottom: 1rem;
}

.detail-work{
    margin-top: 25px;
    border-radius: 10px;
    padding: 2rem;
    background: #DED1C1 ;
}

.text-isi{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.txt-h1{
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
}


.img-doc{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.documentation .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.322);
}

.documentation .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.documentation .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.documentation .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.documentation .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.documentation .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.documentation .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.documentation .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.documentation .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}


@media (max-width:1400px){
    body{
        overflow: auto;
    }
    .container-nav{
        margin-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 800px) {

    :root{
        font-size: 12px;
    }

    .container-nav{
        margin-top: 1rem;
        margin-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
    }
    .my-nav{
        padding-left: 2rem;
    }

    .syanayya{
        margin-top: 9rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    

}

@media screen and (max-width:400px) {

    :root{
        font-size: 11px;
    }


    .container-nav{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    
}